# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.ChangeWordOrder.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\User\Desktop\Other\HomeWork\Programming Tools\LR2 2021.03.05\ChangeWordOrder\.idea\.idea.ChangeWordOrder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
